body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}

#movieTitle {
    font-size: 1.5em;
    margin: 10px 0;  /* Reduïm l'espai entre el títol i el contingut */
}

#countdown {
    font-size: 2em;
    margin: 10px 0;  /* Reduïm l'espai entre el títol i el contingut */
}

.scores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.scores .score {
    font-size: 1.2em;
    padding: 10px;
}

.highlight-equip1 {
    border: 3px solid blue;
    color: blue;
}

.highlight-equip2 {
    border: 3px solid red;
    color: red;
}

.highlight-equip3 {
    border: 3px solid green;
    color: green;
}

.highlight-equip4 {
    border: 3px solid orange;
    color: orange;
}

#turnButton {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
}

.config-button {
    margin-top: 20px;  /* Marge superior ajustat per separar dels altres elements */
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
}

.config {
    margin-top: 20px;  /* Marge superior ajustat per separar dels altres elements */
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.config-space {
    margin-top: 10px;  /* Espai ajustat entre el títol i les opcions de configuració */
}

.config-option {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
